@mainColor: rgb(255, 128, 0);


@import "pizza/pizza-card";
body{
    background-color: rgba(250, 247, 104, 0.192);
}
.page{
    display: flex;
}
.row .images{
    position: relative;
    width: 90%;
    height: 90%;
}



.main-info{
    background-color: rgba(0, 0, 0, 0.685);
    gap: 15px;
    height: 80px;
    width: 80%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.topText{
    color: gray;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-content: left;
    gap: 15px;
    position: relative;
    left: 120px;
    height: 40px;
    width: 88%;
    z-index: 3;
    border: none;
    border-bottom: 1px solid gray;
}
.button{
    color: white;
    padding-left:10px;
    padding-right:10px;
    font-size:13px;
    background-color: rgb(237, 133, 30);
    border: none;
    background-image: linear-gradient(rgb(231, 173, 55), rgb(237, 133, 30));
    border-bottom: 1px solid gray;
    border-radius: 3px;

    font-weight: bold;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    position: fixed;
    right: 22%;

}
.bottomText{
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-content: space-between;
    gap: 15px;
    position: relative;
    height: 40px;
    width: 88%;
    left: 120px;
    z-index: 3;
}


.allPizzas{
    display: flex;
    text-align: center;
    justify-content: center;
}
.allPizzas .amount{
    position: relative;
    top: 22.5px;
}

.types{
    color: rgb(255, 128, 0);;
    display: grid;
    text-align: center;
    justify-content: space-between;
    grid-template-columns: repeat(6, 1fr); /* Adjust the number of columns as needed */
    width: 100%;
    position: relative;
    left: 7%;
}
.active{
   color: white;
   background-color: rgb(255, 140, 0);;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 5px;
   position: relative;
   top: -10px;
}


.container{
    position: absolute;
    width: 60%;
    top: 100px;
    left:10%;
}
.ingredients{
    color:black;
}

  



.buy{
    width: 20%;
    position: fixed;
    top: 0; right: 0;
    height: 100vh;
    background-color: rgb(238, 233, 233);      
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
}
.buy::-webkit-scrollbar {
    width: 0px;
}


.headline {
    background-color: rgb(255, 255, 255);
    display:grid;
    grid-template-rows: auto; 
    grid-template-columns: auto auto;
    height: 80px;
    position: fixed;
    top: 0;
    width: 20%;
    z-index: 2;
}
.headline h4{
    position: relative;
    top: 20px;
    left: 5px;
}
.headline h6{
    color: rgb(177, 177, 177);
    position: relative;
    top: 22.5px;
    left: 10px;
}
.amount {
	background-color: rgb(252, 144, 3);
    border-radius: 10px;
    color: white;
    font-size:14px;
    font-weight:bold;

    display: inline-block;
    height: 18px;
    width: 20px;
    text-align: center;
    position: relative;
    left: 5px;
    line-height: 20px;

}

.mainLine {
    border: none;
    border-bottom: 2px solid rgb(196, 196, 196);
    padding-top: 5px;
    position: relative;
    top: 80px;
}
.mainLine h4{
    color: rgb(255, 128, 0);;
}
.line{
    position: relative;
    left: 20px;
    height: 100px;
}
.buyIcons{
    display:flex;
    text-align: left;
    gap: 20px;
}
.block{
    display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
}
.smallImages{
    width: 100px;
    height: 100px;
    position: relative;
    right: -75%;
    top: -92.5px;
}
.red-minus {
    background-color: rgb(240, 37, 37);
    color: white;
    font: 1.1em sans-serif;
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 31px;
    width: 31px;
    text-align: center;
    border: 0.18rem solid rgb(174, 31, 31);
    background-image: linear-gradient(rgb(254, 76, 76), rgba(171, 23, 12, 0.99));
    background-color: rgba(219,40,40,255);
    position:absolute;
    left:22%;

}
.red-minus::before {
    content: "-";
    position: relative;
    top: -2px;
    font-size: 31px;
}

.pizza-amount{
    position:absolute;
    left:37.8%;
    font-weight: bold;
}


.green-plus {
    background-color: rgb(47, 129, 17);
    color: white;
    font: 1.1em;
    font-weight: bold;
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 31px;
    width: 31px;
    text-align: center;
    border: 0.18rem solid rgb(28, 143, 30);
    background-image: linear-gradient(rgb(37, 206, 51), rgb(12, 122, 21));
    background-color: rgba(34,186,70,255);
    position:absolute;
    left:45%;
}
.green-plus::before {
    content: "+";
    position: relative;
    top: -1px;
    font-size: 20px;
}

.cross {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:12px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: rgb(250, 250, 250);
    border: 0.18rem solid rgb(184, 184, 184);
    color: rgb(237, 133, 30);
    box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.2);
    position:absolute;
    right:24%;

}
.cross h3 {
    margin: 0;
    font-size: 1.2em;
}

.conclusion{
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 20%;
    border-top: 2px solid rgb(196, 196, 196);
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.conclusion h4{
    position: relative;
    right: 10px;
    z-index: 2;
}
.conclusion h5{
    position: relative;
    left: 10px;
    z-index: 2;
}
.orderButton {
    position: fixed;
    bottom: 20px;
    right: 2%;
    height: 40px;
    width: 16%;
    border-radius: 5px;
    background-color: rgb(237, 133, 30);
    background-image: linear-gradient(rgb(231, 173, 55), rgb(237, 133, 30));
    align-items: center;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 2;
}
.orderButton h3 {
    color: white;
    font-size: 16px;
    margin: 0;
    z-index: 2;
}
  
  



.rect{
    color: white;
    height: 90px;
    width: 100px;
    text-align: center;
    background-color:rgb(237, 133, 30) ;
    position: fixed;
    top: 0;
    left: 10px;
    z-index: 3;
}
#badge{
    transform: rotate(180deg);
    z-index: 2;
    position: fixed;
    top: 90px; left: 10px;
}
.sale{
    color: white;
    height: 110px;
    width: 100px;
    text-align: center;
    background-color:rgb(237, 133, 30) ;
    position: fixed;
    bottom: 0;
    left: 10px;
    z-index: 3;
}
.sale .upper-text {
    border: none;
    border-bottom: 2px dashed rgb(218, 106, 15);
    width: 80px;
    font-size:15px;
    position: relative;
    left: 10px;
    line-height: 20px;
}
.sale .down-text{
    font-size:15px;
}

#bottomBadge{
    z-index: 2;
    position: fixed;
    bottom: 110px; left: 10px;
}
.bottomInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 140%;
    position: relative;
    left: -20%;
    border-top: 2px solid rgb(196, 196, 196);
}
.bottomInformation p {
    margin: 10px;
    text-align: center;
}

.popular::before {
    content: attr(data-tooltip);
    max-width: 100px;
    background-color: rgb(13, 233, 64);
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    right: 0; top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.new::before {
    content: attr(data-tooltip);
    max-width: 100px;
    background-color: rgb(231, 18, 18);
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    right: 0; top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

@media (max-width: 1200px) {
	.container {
        width: 70%;
        left:0;
	}
    .bottomInformation {
        width: 100%;
        left: 0;
    }
	.buy{
        width: 30%;
	}
    .headline {
        width: 30%;
    }
    .main-info{
        width: 70%;
    }
    .topText{
        width: 82%;
    }
    .button{
        position: fixed;
        right: 33%;
    }
    .conclusion{
        width: 30%;
    }
    .orderButton {
        width: 26%;
    }
    .types{
        grid-template-columns: repeat(6, 1fr);
        width: 105%;
        position: relative;
        left: -1%;
    }
}

@media (max-width: 985px) {
    .container {
        width: 65%;
	}
	.buy{
        width: 35%;
	}
    .main-info{
        width: 65%;
    }
    .headline {
        width: 35%;
    }
    .topText{
        width: 75%;
    }
    .free{
        display: none;
    }
    .button{
        position: fixed;
        right: 40%;
    }
    .conclusion{
        width: 35%;
    }
    .orderButton {
        width: 31%;
    }
    .types{
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        position: relative;
        left: 5%;
    }
}

@media (max-width: 750px) {
    .container {
        width: 60%;
	}
	.buy{
        width: 40%;
	}
    .headline {
        width: 40%;
    }
    .main-info{
        width: 60%;
    }
    .topText{
        width: 70%;
    }
    .time{
        display: none;
    }
    .button{
        position: fixed;
        right: 43%;
    }
    .conclusion{
        width: 40%;
    }
    .orderButton {
        width: 36%;
    }
    .types{
        width: 90%;
        flex-direction: column;
    }
}
@media (max-width: 685px) {
    .container {
        width: 50%;
	}
	.buy{
        width: 50%;
	}
    .headline {
        width: 50%;
    }
    .main-info{
        width: 50%;
    }
    .topText{
        width: 55%;
    }
    .button{
        position: fixed;
        right: 51%;
        top:42.5px;
    }
    .bottomText{
        display: none;
    }
    .conclusion{
        width: 50%;
    }
    .orderButton {
        width: 46%;
    }
    .types{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 525px) {
    .container {
        width: 45%;
	}
	.buy{
        width: 55%;
	}
    .headline {
        width: 55%;
    }
    .headline h4{
        position: relative;
        font-size:medium;
    }
    .buyButton{
        padding: 5%;
    }
    .ingredients{
        height: 150px;
    }
    .main-info{
        width: 45%;
    }
    .topText{
        width: 30%;
    }
    .button{
        position: fixed;
        left: 26%;
        top:42.5px;
        width:15%;
    }
    .line h4{
        position: relative;
        left: -5px;
        font-size:medium;
    }
    .bottomText{
        display: none;
    }
    .conclusion{
        width: 55%;
    }
    .orderButton {
        width: 51%;
    }
    .types{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 460px) {
    .page{
        flex-direction: column;
        min-width: 350px;
    }
    .container {
        width: 100%;
        position: relative;
	}
	.buy{
        width: 100%;
        position: relative;
        top: 100px;
        z-index: 4;
	}
    .headline{
        width: 100%;
        position: relative;
        top: 0;
        z-index: 4;
    }
    .mainLine{
        top: -5px;
        z-index: 4;
    }
    .conclusion{
        width: 100%;
        z-index: 5;
        position: relative;
        bottom: -50px;
    }
    .orderButton{
        width: 96%;
        left: 2%;
        z-index: 5;
        position: relative;
        bottom: 0;
    }
    .main-info{
        width: 100%;
        z-index: 5;
    }
    .topText{
        width: 80%;
    }
    .button{
        position: relative;
        left: -80px;
        width:100%;
    }
    .snallImages{
        position:relative;
        left:100%;
    
    }
}
  
  





